extends layout

block content
  .App-wrap(ng-app='cono')
    .App(ng-controller='conoController')
      ul.TalkList
        li(ng-repeat='talk in talks') {{talk.name}}
      form(ng-submit='addTalk()').AddTalkForm
        h2 Add Talk
        label Name
        input(ng-model='newTalkName').AddTalkForm-input
        label Speaker
        input(ng-model='newTalkSpeaker').AddTalkForm-input
        label Time
        input(type='time' ng-model='newTalkTime').AddTalkForm-input
        button(type='submit') Add Talk
