<!DOCTYPE html>
<html ng-app="cono">
  <head>
    <meta charset="utf8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="description" content="An app that helps you enjoy conferences">
    <meta name="author" content="Cono GmbH">
    <title>Cono</title>



    <!-- LIBRARIES -->
    <!-- jquery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>


    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>


    <!-- firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>

    <!-- materialize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- styles -->
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/master.css" />
    
    <!-- font -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
  </head>
  <body >
  <header ng-controller="userController">
    <div class="row">
      <div ng-if="userData" id="userInfo" class="col s3">
          <p>
          <span >
            Angemeldet als:<br /><span class="userName">{{userData.name}}</span>
          </span>
          </p>
          <!-- Dropdown Structure -->
          <ul id="dropdown1" class="dropdown-content">
            <li><a href="#!">Passwort ändern</a></li>
            <li class="divider"></li>
            <li><a href="#!" ng-click='logout()'>Logout</a></li>
          </ul>
          <ul class="setting">
            <li>
              <a class="dropdown-button" href="#!" data-activates="dropdown1" dropdown data-hover="true">
                <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
                <span>Einstellungen</span>
                <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
          </ul>
      </div>
      <div class="col s6">
        <img class='logo' src="img/logo.png" alt="cono Logo"/>
      </div>
    <!-- TO DO: ABFRAGE ICON STATUS -->
    <a ng-if='canGoHome' id="conf-setting" class="col s3" href='/#/'>
      <p>Status der Konferenz:</p><img src="img/published.png" alt="published"/>
      <div class="clear"><!-- --></div>
      <div class="dashback"><i class="fa fa-reply fa-2x" aria-hidden="true"></i> <span>Konferenzübersicht</span></div>
    </a>
    </div>
  </header>

      <div id='AppContent' ui-view autoscroll='false'></div>
    
    <footer>
      <ul>
        <li><a href="">Impressum</a></li>
        <li><a href="">Kontakt</a></li>
      </ul>
    </footer>
    <!-- end of app -->

    <script src='js/main.js'></script>

    <script src='js/routes.js'></script>

    <script src='js/directives/passwordValidator.js'></script>

    <script src='js/controllers/registration.js'></script>
    <script src='js/controllers/auth.js'></script>
    <script src='js/controllers/user.js'></script>
    <script src='js/controllers/settings.js'></script>
    <script src='js/controllers/dashboard.js'></script>
    <script src='js/controllers/edit.js'></script>
    
    
    
    <script>

    var highest_element = 0;

    // Prüfe, welches Element am höchsten ist
    $('#conf').each(function() {
      if ($(this).height() > highest_element) {
        highest_element = $(this).height();
      }
    });

    // Weise diese Höhe allen Elementen zu.
    $('#conf').each(function() {
      $(this).height(highest_element);
    });

    </script>
  </body>
</html>
