mixin cropModal
  #CropModal.modal
    .modal-content
      h4 Crop Image
      #croppie
    .modal-footer
      a#SaveImage.btn.modal-action.waves-effect(ng-click='saveImage') Speichern
      a.btn-flat.modal-close.modal-action.waves-effect Abbrechen
