<!-- dashboard -->
<header ng-controller="userController">
      <div class="row">
        <div id="userInfo" class="col s3">
            <p>
            <span ng-if="userData">
              Angemeldet als:<br /><span class="userName">{{userData.name}}</span>
            </span>
            </p>
            <!-- Dropdown Structure -->
            <ul id="dropdown1" class="dropdown-content">
              <li><a href="#!">Passwort ändern</a></li>
              <li class="divider"></li>
              <li><a href="#!" ng-click='logout()'>Logout</a></li>
            </ul>
            <ul class="setting">
              <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="fa fa-cog fa-2x" aria-hidden="true"></i><span>Einstellungen</span><i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
        <div class="col s6">
          <img class='logo' src="img/logo.png" alt="cono Logo"/>
        </div>
        <div class="col s3">
          <!-- -->
        </div>
      </div>
    </header>
<div class="headline">
  <h1>Ihre Konferenzen</h1>
</div>
<div id="content" class="row">
  <div class="col s12">
      <div class="section">
          <div class="row">

              <!-- TODO: Implent layout; http://codepen.io/TrueNorth/pen/MwVoYp-->

              <!-- single conference card -->
              <div ng-repeat="conference in conferences" id="conf" class="col s12 m6 l3 card">
                  <div class="card-content">
                    <!-- TO DO: ABFRAGE ICON STATUS -->
                    <div class="status"><img src="img/published.png" alt="published"/></div>
                    <div class="conf">
                      <span class="card-title">{{conference.name}}</span>
                      <p>{{conference.description}}</p>
                      <p>Wo: {{conference.location.city}}</p>
                      <p>Von {{conference.start}} bis {{conference.end}}</p>
                      <div class="icons">
                        <span ng-click="changeView(conference)" class="icon"><i class="fa fa-eye fa-2x" aria-hidden="true"></i></span>
                        <span ng-click="createConference(conference)" class="icon"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></span>
                      </div>
                    </div>
                  </div>
              </div>
              <div id="newConf" class="col s12 m6 l3 card">
                <div class="conf">
                  <span class="card-title">Neue Konferenz anlegen</span>
                  <div class="icons">
                    <span ng-click="createConference(conference)" class="icon"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></span>
                  </div>
                </div>
              </div>
          </div>
              <!-- end of controller-->
      </div>
          <!-- dashboard end -->
  </div>
</div>