h3 Meine Konferenzen
.Conferences
  .Conference.card.col.s3(ng-repeat='conference in conferences' ng-click='changeView(conference)' ng-class="{'z-depth-2': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false")

    .card-content
      span.card-title
        | {{conference.name}}
        span.badge.greey-text(ng-if='!conference.published') privat
        span.badge.green-text(ng-if='conference.published') veröffentlicht

      p.section.grey-text(ng-if='conference.description == ""') Keine Beschreibung
      p.section(ng-if='!conference.description == ""') {{conference.description}}
      .divider
      p.section
        i.grey-text.material-icons.left room
        | {{conference.location.city}}
      p
        i.grey-text.material-icons.left today
        | Von {{conference.start * 1000 | date : "dd/MM/yy"}}
        | bis {{conference.end * 1000 | date : "dd/MM/yy"}}

  .fixed-action-btn
    a.btn-floating.btn-large.red(ng-click='createConference()')
      i.large.material-icons add
