<!-- TALKS LIST-->
<div class="headline">
    <h1>Talk</h1>
</div>
<div class="container" ng-controller="editTalkController">
    <div class="row">
        <div class="col s12">
            <form name="editTalkForm" ng-submit="save()">


                <label>Talkname:</label>
                <input type="text" name="talkName" ng-model="talk.name" required>


                <label>Beschreibung:</label>
                <input type="text" name="description" ng-model="talk.description">


                <label>Track</label>
                <select 
                    ng-model="talk.track"
                    ng-options="id as track.name  for (id, track) in tracks">
                </select>
                <br>


                <label>Datum</label>
                <input type="text" datetime='yyyy-MM-dd' name="talkStart" ng-model="talk.date" required>


                <label>Start-Uhrzeit</label>
                <input type="text" datetime='HH:mm' name="talkStart" ng-model="talk.start" required>


                <label>End-Uhrzeit</label>
                <input type="text" datetime='HH:mm' name="talkEnd" ng-model="talk.end" required>


                <label>Ort:</label>
                <input type="text" name="talkLocation" ng-model="talk.location">


                <label>Speaker:</label>
                <input type="text" name="talkSpeaker" ng-model="talk.speaker">


                <label>Speaker Foto:</label>
                <input type="text" name="talkSpeakerPicture" ng-model="talk.speakerPicture">

                <input class="waves-effect waves-light btn-large" type="submit" value="Speichern">
                <a href='{{returnPath}}' class='btn orange white-text' > Abbrechen </a>
            </form>
        </div>
    </div>
</div>
