<!-- CONFERENCE, TALKS & TRACKS -->

<!-- HEADER -->
<div class="headline">
    <h1>Konferenz</h1>
</div>

<!-- WRAPPER-->
<div class='section container'>
    <div class="row">

        <!-- TAB NAV -->
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3"><a href="#details">Details</a></li>
                        <li class="tab col s3"><a href="#talks">Talks</a></li>
                        <li class="tab col s3"><a href="#tracks">Tracks</a></li>
                        <li class="tab col s3"><a href="#danger">Danger Zone</a></li>
                    </ul>
                </div>

                <div id="details" class="col s12">
                    <div ng-include='"forms/conference.html"'></div>
                </div>

                <!-- TALKS ACCORDION -->

                <div id="talks" class="col s12">
                    <div class="row">
                        <ul class="collapsible TalkList" data-collapsible="accordion">
                            <li>
                                <div ng-click='addTalk()' class="collapsible-header green white-text">
                                    <i class="material-icons">add</i>
                                    <p>Talk hinzufügen</p>
                                </div>
                            </li>
                            <li ng-repeat='talk in talks'>
                                <div class="collapsible-header">
                                    <i class="material-icons">lightbulb_outline</i>
                                    <p>{{talk.start * 1000 | date: dd.MM}} um {{talk.start | date: "HH:mm"}} | <b>{{talk.name}}</b></p>

                                </div>
                                <div class="collapsible-body">
                                    <p>
                                        <span class='black-text'>
                                        {{talk.name}}
                                        </span>
                                      <br>
                                      {{talk.description}}
                                      <br>
                                      <span class='black-text'>
                                        {{talk.start * 1000 | date: dd.MM}} um {{talk.start | date: "HH:mm"}}
                                      </span>
                                    </p>

                                        <!-- TALKS ACCORDION -->
                                        <div class="col ">
                                          <div class="card-panel grey lighten-5 z-depth-1">
                                            <div class="row valign-wrapper">
                                              <div class="col s2">
                                                <img src="{{talk.speakerPicture}}" alt="image of {{talk.speakerName}}" class="circle responsive-img"> <!-- notice the "circle" class -->
                                              </div>

                                              <div class="col s10">
                                                <span class="black-text">
                                                  {{talk.speaker}}
                                                </span>
                                                <br>
                                                <span ">
                                                  {{talk.speakerDescription}}
                                                </span>
                                              </div>

                                            </div>
                                          </div>
                                        </div>

                                    <p>
                                        <a class='btn' href='#/edit/talk/{{talk.$id}}/{{state.slug}}/{{state.id}}'>Edit</a>
                                        <a class='btn-flat' ng-click='(talks.$remove(talk))'>Remove</a>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- TRACKS ACCORDION -->
                <div id="tracks" class="col s12">
                    <div class="row">
                        <ul class="collapsible TrackList" data-collapsible="accordion">
                            <li>
                                <div ng-click='addTrack()' class="blue white-text collapsible-header"><i
                                        class="material-icons">add_location</i>
                                    <p>Track hinzufügen</p>
                                </div>
                            </li>
                            <li ng-repeat='track in tracks'>

                                <!-- TRACKS ACCORDION -->
                                <div class="collapsible-header"><i class="material-icons">place</i><b>{{track.name}}</b> | {{track.description}}</div>

                                <div class="collapsible-body">
                                    <div class=' section container'>
                                      <div>
                                        <label>Name</label>
                                        <input type='text' name='trackName' ng-model='track.name' required>
                                      </div>
                                      <div>
                                        <label>Description</label>
                                        <input type='text' description='trackDescription' ng-model='track.description' required>
                                      </div>
                                      <a class='btn-large red white-text' ng-click='(tracks.$remove(track))'>Remove</a>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div id="danger" class="col s12">
                        <p class='section'>
                            <a class='btn red white-text' ng-if='conferenceRef' ng-click='removeConference(conference)'
                               href="#/dashboard">
                                KONFERENZ LÖSCHEN
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
