include _mixins
+cropModal()

h5 {{conference.name}}

.card.row: .section.container
  .container
    .col.s12
      .section
        ul.tabs
          li.tab.col.s3
            a(href='#details').teal-text Konferenz
          li.tab.col.s3
            a(href='#talks').teal-text Talks
          li.tab.col.s3
            a(href='#tracks').teal-text Tracks
          li.tab.col.s3
            a(href='#danger').teal-text Gefahrenzone

  #details.col.s12
    include ../forms/_conference

    // TALKS ACCORDION
  #talks.col.s12
    .row
      ul.collapsible.TalkList(data-collapsible='accordion')
        li
          .collapsible-header.green.white-text(ng-click='addTalk()')
            p Talk hinzufügen
              i.material-icons.left add

        li(ng-repeat='talk in talks')
          .collapsible-header
            p
              | {{talk.start * 1000 | date: dd.MM}} um {{talk.start | date: "HH:mm"}} 
              b {{talk.name}}
                span(ng-if='talk.name.length == 0').grey-text Neuer Talk
              i.material-icons.left lightbulb_outline
          .collapsible-body
            p
              span.black-text {{talk.name}}
              br
              | {{talk.description}}
              i(ng-if='talk.description.length == 0').grey-text Keine Beschreibung
              br
              span.black-text {{talk.start * 1000 | date: dd.MM}} um {{talk.start | date: "HH:mm"}}

            .card-panel.grey.lighten-5.z-depth-1
              .row.valign-wrapper(style='margin-bottom: 0')
                .col.s2(style='padding: .75rem')
                  img.responsive-img.circle(cl-src="{{talk.speakerPicture}}"   width="128"   height="128"   crop="thumb" gravity="face")
                .col.s10
                  span.black-text
                    | {{talk.speaker}}
                  br
                  span
                    | {{talk.speakerDescription}}
            p
              a.btn(href='#/edit/talk/{{talk.$id}}/{{state.slug}}/{{state.id}}' target='_blank') Bearbeiten
              a.btn-flat(ng-click='(talks.$remove(talk))') Löschen

  // TRACKS ACCORDION
  #tracks.col.s12
    .row
      ul.collapsible.TrackList(data-collapsible='accordion')
        li
          .blue.white-text.collapsible-header(ng-click='addTrack()')
            p Track hinzufügen
              i.material-icons.left add_location
        li(ng-repeat='track in tracks')
          .collapsible-header
            b {{track.name}}
            b(ng-if='track.name.length == 0').grey-text: i Keine Beschreibung
            | {{track.description}}
            i(ng-if='track.description.length == 0').grey-text Keine Beschreibung
            i.material-icons.left place
          .collapsible-body
            .section.container
              div
                label Name
                input(type='text', name='trackName', ng-model='track.name', required='')
              a.btn-large.green.white-text(ng-click='(tracks.$save(track))') Speichern
              a.btn-large.red.white-text(ng-click='(tracks.$remove(track))') Löschen
  .row
    #danger.col.s12
      p.section
        a.btn.red.white-text(ng-if='conferenceRef', ng-click='removeConference(conference)', href='#/dashboard')
          | KONFERENZ LÖSCHEN
