<!-- add conference form -->
<div class="container" ng-controller="editConferenceController">
    <form name="editConferenceForm" ng-submit="addConference()">
        <label>
            Konferenzname:
            <input type="text" name="conferenceName" ng-model="newConference.name" required>
        </label>
        <label>
            Beschreibung:
            <input type="text" name="description" ng-model="newConference.description">
        </label>
        <label>
            Beginn:
            <input type="date" name="start" ng-model="newConference.start">
        </label>
        <label>
            Ende:
            <input type="date" name="end" ng-model="newConference.end">
        </label>
        <label>
            Straße:
            <input type="text" name="street" ng-model="newConference.location.street">
        </label>
        <label>
            Hausnummer:
            <input type="text" name="housenumber" ng-model="newConference.location.housenumber">
        </label>
        <label>
            Postleitzahl:
            <input type="text" name="zip" ng-model="newConference.location.zip">
        </label>
        <label>
            Stadt:
            <input type="text" name="city" ng-model="newConference.location.city">
        </label>
        <label>
            Layoutfarbe:
            <input type="color" name="color" ng-model="newConference.corporateidentity.color">
        </label>
        <label>
            Logo:
            <input type="text" name="logo" ng-model="newConference.corporateidentity.logo">
        </label>
        <input class="waves-effect waves-light btn-large" type="submit" value="Konferenz speichern">
    </form>
    <a ng-click='removeConference(conference)' href="#/dashboard">
        <button class="waves-effect waves-light btn-large red">
            Konferenz löschen
        </button>
    </a>
</div>
