h3 Passwort Vergessen?
.row
  form.col.s8.section
    .card-panel Sag uns deine Email Adresse und wir schicken dir ein temporäres Passwort.

    form
      label.item.item-input
        span.input-label E-Mail
        input(type='text', ng-model='user.email')

      button.btn-large.waves-effect(ng-click='resetPassword()') Passwort anfordern
        i.material-icons.left restore
