<!-- forget Password-->
<div class="headline">
    <h1>Register</h1>
</div>
<div id="content" class="row reglog">
    <div class="col s12">
        <div class="section">
            <div class="row">
                <div class="regLog">
                    <div class="card-panel ">Give us your Email and we will give you a temporary password that you can
                        use to log in and reset your current password.
                    </div>

                    <form>
                        <label class="item item-input">
                            <span class="input-label">E-Mail</span>
                            <input type="text" ng-model="user.email">
                        </label>


                        <div ng-if='message' class="card-panel white-text red darken-1">{{message}}</div>

                        <label class="item button">
                            <button class="btn" ng-click='resetPassword()'>Reset Password</button>
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
