h3 Forgotten password?
.row
  form.col.s8.section
    .card-panel
      p
        | Give us your Email and we will give you a temporary password that you can
        | use to log in and reset your current password.

    form
      label.item.item-input
        span.input-label E-Mail
        input(type='text', ng-model='user.email')

      .card-panel.white-text.red.darken-1(ng-if='message')
        p {{message}}

      button.btn-large.waves-effect(ng-click='resetPassword()') Reset Password
        i.material-icons.left restore
