// login
h3.center-align Login
.row
  form.col.s8.push-s2.section

    label
      span.input-label E-Mail
      input(type='text', ng-model='user.email')

    label
      span.input-label Passwort
      input(type='password', ng-model='user.pwd')

    button.btn-large.waves-effect(ng-click='login()') Anmelden
      i.material-icons.left done
    a.btn-flat(href='#/register') Registrieren
    a.btn-flat(href='#/forgotPassword') Passwort Vergessen
