<!-- dashboard -->
<div class="row container">
  <div class="section col s12 m6">
  <h5>Log in or Register</h5>

  <form>
      <label class="item item-input">
        <span class="input-label">E-Mail</span>
        <input type="text" ng-model="user.email">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.pwd">
      </label>
      <label class="item">
        <button class="btn" ng-click="login()">Log in</button>
      </label>
      <label class="item">
        <button class="btn blue" ng-click='register()'>Register</button>
      </label>

      <div class="section">
      </div>
  </form>
  </div>

  </form>


  </div>
</div>
