<!-- login -->
<div class="headline">
    <h1>Login</h1>
</div>
<div id="content" class="row reglog">
    <div class="col s12">
        <div class="section">
            <div class="row">
                <div class="regLog">
                    <form>
                        <label class="item item-input">
                            <span class="input-label">E-Mail</span>
                            <input type="text" ng-model="user.email">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Password</span>
                            <input type="password" ng-model="user.pwd">
                        </label>
                        <label class="item button">
                            <button class="btn" ng-click="login()">Log in</button>
                            <a class="btn-flat button blue" href='#/register'>Register</a>
                            <a class="btn-flat button grey" href='#/forgotPassword'>Forgot Password</a>
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
