h3 Registrieren

.row
  form.col.s8.section
    .card-panel.yellow
      | Wähle ein Passwort mit zwei Verschiedenen Zeichentypen (GROSS, klein, Zahlen, Sonderzeichen).

    label
      span.input-label E-Mail
      input(type='text', ng-model='newUser.email')

    label
      span.input-label Name
      input(type='text', ng-model='newUser.name')

    label
      span.input-label Passwort
      input(type='password', complex-password='', ng-model='newUser.pwd')

    label
      span.input-label Passwort wiederholen
      input(type='password', ng-model='newUser.pwdRepeat')

    button.btn-large.waves-effect(ng-click='register()') Registrieren
      i.material-icons.left fingerprint
