<!-- dashboard -->
<div class="row container">
  <div class="section col s12 m6">
  <h5>Settings</h5>
  <div class="section">
  <h6>Change Password</h5>
  <div class="card-panel ">Pick a password with at least 8 characters and two different character types.</div>

  <form>
      <label class="item item-input">
        <span class="input-label">Old password</span>
        <input type="password" complex-password ng-model="user.oldPwd">
      </label>
      <label class="item item-input">
        <span class="input-label">New password</span>
        <input type="password" complex-password ng-model="user.pwd">
      </label>
      <label class="item item-input">
        <span class="input-label">Repeat new password</span>
        <input type="password" ng-model="user.pwdRepeat">
      </label>

      <div ng-if='message' class="card-panel white-text red darken-1">{{message}}</div>

      <label class="item">
        <button class="btn orange" ng-click='changePwd()'>Change password</button>
      </label>



      <div class="section">
      </div>
  </form>
  </div>
  </div>

  </form>


  </div>
</div>
