#AppContent {
  /* background-color: #eeeeee; */
  min-height: 100vh;
}

/* Button Base */
[class*='btn'] + [class*='btn']  {
  margin-left: 10px;
}

/* Croppie*/
.cr-slider-wrap .thumb {
  display: none
}

/*Start header*/

.Logo.Logo{
  padding: 10px;
  box-sizing: border-box;
  height: 100%
}
/*End header*/


/*Start dashboard*/
.Conferences{
  display: flex;
  flex-wrap: wrap;
}

.Conference.Conference {
  width: 300px;
  max-width: 30%;
  flex-grow: 1;
  cursor: pointer;
  margin-right: 1rem;
  overflow: hidden;
}
.Conference-colorSwatch {
  height: 10px;
  width: 100%;
}

/*End dashboard*/


/*Start registration*/
.ng-invalid-complexity{
  border-bottom-color: orange !important;
  border-bottom-width: 2px!important;
}
/*End registration*/


/*Start talk-edit*/
[datetime].ng-invalid{
  border-bottom-color: red !important;
}
/*End talk-edit*/

/*Start track-edit*/
.collapsible-header {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*End track-edit*/
