// EDIT CONFERENCE FORM
// GENERAL
form(name='conferenceForm')

  h5.grey-text Allgemein
  .row
    .FormInputField.col.s6
      label Konferenzname:
      input(type='text', name='conferenceName', ng-model='conference.name', required='')

  .row
    .FormInputField.col.s6
      label Beschreibung:
      textarea(type='text', name='description', ng-model='conference.description').materialize-textarea

  h5.grey-text Zeit
  .row
    .FormInputField.col.s6
      label Zeitraum von
      input(type='date', name='start', ng-model='conference.start')

    .FormInputField.col.s6
      label Zeitraum bis
      input.datepicker(type='date', name='end', ng-model='conference.end')

  h5.grey-text Ort
  .row

    .FormInputField.col.s2
      label Postleitzahl:
      input(type='text', name='zip', ng-model='conference.location.zip')

    .FormInputField.col.s3
      label Ort:
      input(type='text', name='city', ng-model='conference.location.city')

    .FormInputField.col.s5
      label Straße:
      input(type='text', name='street', ng-model='conference.location.street')

    .FormInputField.col.s2
      label Hausnummer:
      input(type='text', name='housenumber', ng-model='conference.location.housenumber')

  h5.grey-text Design
  .row
    .FormInputField.col.s6
      label Layoutfarbe (HEX oder RGB):
      .file-field.materialize-colorpicker
        .btn
        .file-path-wrapper
          input(type='text', name='color', ng-model='conference.corporateidentity.color' )

  .section: .row.valign-wrapper
    .col.s2
      img.responsive-img(cl-src="{{conference.corporateidentity.logo}}" height="128"   crop="fill")
    .col.s9
      label Logo der Konferenz:
      .file-field.input-field
        .btn.waves-effect
          span Datei wählen
          input(type='file' name='conferenceLogo' accept="image/*" maxsize="100000").file-upload
        .file-path-wrapper
          input.file-path.validate(type='text')

  // SUBMIT
  a.btn-large.waves-effect.waves-black(ng-click='save()') Speichern
  a.btn.blue.white-text.waves-effect(ng-click='publish()', ng-if='!conference.published') Veröffentlichen
  a.btn.blue.darken-3.white-text.waves-effect(ng-click='unpublish()', ng-if='conference.published') Verstecken
