<!-- EDIT CONFERENCE FORM-->
<!-- GENERAL -->
<form name="conferenceForm" ng-submit="save()">
    <label>Konferenzname:</label>
    <input type="text" name="conferenceName" ng-model="conference.name" required>

    <label>Beschreibung:</label>
    <input type="text" name="description" ng-model="conference.description">

    <!-- TIME -->
    <label>Zeitraum von</label>
    <input type="date" name="start" ng-model="conference.start">
    <label>Zeitraum bis</label>
    <input type="date" name="end" ng-model="conference.end">
    <label>Straße:</label>
    <input type="text" name="street" ng-model="conference.location.street">
    <label>Hausnummer:</label>
    <input type="text" name="housenumber" ng-model="conference.location.housenumber">
    <label>Postleitzahl:</label>
    <input type="text" name="zip" ng-model="conference.location.zip">
    <label>Stadt:</label>
    <input type="text" name="city" ng-model="conference.location.city">
    <label>Layoutfarbe:</label>
    <input type="color" name="color" ng-model="conference.corporateidentity.color">
    <label>Logo:</label>
    <input type="text" name="logo" ng-model="conference.corporateidentity.logo">

    <!-- SUBMIT -->
    <input class="waves-effect waves-light btn-large" ng-click="save()" type="submit" value="Speichern">
    <a class='btn green white-text'>Veröffentlichen</a>
</form>
</div>
